@font-size-base: 14;
// font-sizes for medium screen size
@font-size-medium: 15;
// font-size for small screen size
@font-size-small: 16;
// medium screen size
@screen-medium: 1024px;
// small screen size
@screen-small: 640px;

@import "bootstrap/bootstrap.less";
// load _sth lib

@fonts: 'montserrat-regular-webfont', 'montserrat-light-webfont';
@fPath: '/_dist/fonts/';

@font-medium: 'monserrat-regular-webfont';
@font-light: 'monserrat-light-webfont';

@import "structure/variables.less";
@base-font-size: 16;
@import "../lib/Sth-Camouflage/_sth_base.less";

@import "structure/base.less";
