// SERVER CONFIG
// MongoDB setup
var db = {
    dbUser: 'dbuser',
    dbPassword: 'passwordforuse',
    dbName: 'databasename',
    dbHost: 'localhost',
    dbPort: '27017'
},
// server setup
server = {
    port: '4000',
    secret: 'yourssecret',
    reqCode: false
},
// mailer setup
mail = {
  email: 'sample@gmail.com',
  password: 'yourpass',
  type: 'gmail'
}

module.exports = {
    // port at which server listens
	  port: server.port,
    dbUrl: 'mongodb://'+db.dbUser+':'+db.dbPassword+'@'+db.dbHost+':'+db.dbPort+'/'+db.dbName,
    secret: server.secret,
    mail: mail,
    serv: server
};

// db.createUser( { user: "noteSth", pwd: "test", roles: [ { role: "readWrite", db: "noteSth" } ] } )
