a {
    color: #000;
}


.btn {
    .padd(10,20,10,20);
    .transition(all 0.2s);
    background: @c-def;
    border-radius: 2px;
    .text-center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: @c-darkg;
    &:hover {
        background: darken(@c-def, 10%);
    }

    &.btn-ok {
        background: @c-bb;
        color: #fff;
        &:hover {
            background: darken(@c-bb, 10%);
        }
    }
}
.btn-block {
    .btn {
        max-width: 300px;
        display:block;
        .marg-auto(5,5);
    }
    .padd(20,0,20);
}
