<div ng-controller="websites" class="container website-box">
    <div class="box-head">
        <h1 class="text-center">Add a website</h1>
    </div>
    <div class="box-body">
        <form action="">
            <input type="text" ng-model="website.body.website" placeholder="http://sample.com">
            <input type="text" ng-model="website.body.timeout" placeholder="time in minutes ex. 1">

            <h3 class="codes">Before continuing, please make sure You've added detect code on your website.</h3>
            <p class="text-center">If your system works with code detection.</p>
            <p class="detect-code">&lt;div pingsth=&quot;
                <span>{{id}}</span>&quot; style=&quot;display:none&quot;&gt;&lt;/div&gt;</p>


            <div class="btn-block">
                <div ng-click="website.send(); callmodal()" class="btn btn-ok">add new website</div>
                <div class="btn right" ng-click="callmodal()">cancel</div>
            </div>
        </form>
    </div>
</div>
