<div class="container" ng-show="notes.length == 0">
  <div class="row">
    <div class="cta-note" ng-click="callmodal('addnote')">
      <i class="icon i-add"></i>
      <h2>You don't have any notes yet.</h2>
      <p>Click here to add a new note!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" ng-repeat="web in websites track by $index">
      <div class="box row" ng-class="{'box-red': getStat(web.website).status == false, 'box-sand': getStat(web.website).status == null}">
        <!-- <div class="col-md-7">
                  <img src="{{server + web.website.substr(web.website.indexOf('://')+3, web.website.length)}}.png" alt="">
                </div> -->
        <div class="col-md-2">
          <h2>{{web.website.substr(web.website.indexOf('://')+3, web.website.length)}}</h2>
          <p> timeout: {{web.timeout}} min
            <br /> response time: {{getStat(web.website).response}}ms</p>
        </div>
        <div class="col-md-8">
          <p class="data">response time [ms]</p>
          <div ng-if="getStat(web.website).status"  data-ac-chart="'line'" data-ac-data="responses[web.website]"  class="chart">
          </div>
        </div>
        <div class="col-md-2">
          <p class="data">uptime [%] <span class="leg-b">up</span> <span class="leg-g">down</span></p>
          <div ng-if="charts[web.website].data" data-ac-chart="'pie'" data-ac-data="charts[web.website]" class="pie-chart"></div>
        </div>
        <ul class="setup">
          <li><span class="opts o-edit">EDIT</span></li>
          <li><span class="opts o-del">DEL</span></li>
        </ul>
        <i class="status" ng-class="{'s-false': getStat(web.website).status == false, 's-true': getStat(web.website).status == true, 's-waiting': getStat(web.website).status == null}"></i>
      </div>
    </div>
  </div>
</div>
