<div class="full-bg login"></div>
<div class="sth sth-center">
    <div class="sth-4 ns-single text-center">
        <i class="logo"></i>
        <div class="box">
            <h1>Login to your account</h1>
            <p>We're glad to see you back</p>
            <div class="error" ng-if="msg">
                {{msg}}
            </div>
            <form class="form">
                <input type="text" placeholder="email" ng-model="login.email">
                <input type="password" placeholder="password" ng-model="login.password">
                <button class="btn btn-ok" ng-click="logindo()">log in</button>
            </form>
        </div>
        <div class="btn-block">
            <p>don't have an account yet?</p>
            <a href="/register" class="btn btn-b">create an account!</a>
        </div>
        <a href="/privacy">privacy policy &amp; license</a>
    </div>
</div>
