<div class="full-bg login"></div>
<div class="sth sth-center">
    <div class="sth-4 ns-single text-center">
        <i class="logo"></i>
        <div class="box">
            <h1>Privacy policy and license</h1>
            <p>We're glad to see you back</p>

            <div class="privacy">
                <p>
                    The pingSth website uses cookies, tracking pixels and related technologies.
                </p>
                <p>
                     Cookies are small data files that are served by our platform and stored on your device. Our site uses cookies dropped by us or third parties for a variety of purposes including
                    to operate and personalize the website. Also, cookies may also be used to track how you use the site to target ads to you on other websites.
                </p>
                <p>Cookie technology is also used to store your session hash so we can identify your user account and therefore load your data.</p>
                <p>
                    We store all data gathered by our system in central database. It does include your website status and content. Database is protected.
                </p>
                <p>
                    THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
                </p>
            </div>
        </div>

        <a href="/" class="btn btn-o">back to homepage</a>
    </div>
</div>
